[Unit]
Description=Home Manager Bootstrap
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/opt/home_manager
ExecStart=/opt/home_manager/scripts/bootstrap/init-repo.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
